#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  width: 100%;
  display: flex;
  background-color: #000;
  position: relative;
}

#animation {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  /* mask-size: contain; */
  /* -webkit-mask-size: contain; */
  /* mask-image: url("mask.png"); */
  /* -webkit-mask-image: url("mask.png"); */
}

#mask {
  background-image: url("./assets/mask.svg");
  background-size: 0.78125%; /* 1 / 128 */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}
